<h1 class="text-center">Your bookings history</h1>

<p class="text-center">Hi <%= current_user.email %> ! <br>
Thanks for your booking, please find all your bookings below : </p>

<div class="booking-container">
  <% current_user.bookings.each do |booking| %>
    <div class="booking-card">
      <p><strong>The <%= booking.created_at.strftime("%d %b %Y") %></strong>, you booked: </p>
        <ul id=booking-description class="list-unstyled">
          <li><strong>Article: </strong><%=booking.engine.name.capitalize %></li>
          <li><strong>Category: </strong><%= booking.engine.category.name %></li>
          <li><strong>At Shop: </strong><%= booking.engine.shop.name %></li>
          <li><strong>Price: </strong> <%= booking.engine.price %> €</li>
        </ul>
    </div>
    <div class="booking-img"> </div>
   <% end %>
 </div>

