<h1>Your bookings history</h1>

<p>Hi <%= current_user.email %> ! <br>
Thanks for your booking, please find all your bookings below : </p>

<div class="booking-card">
<% current_user.bookings.each do |booking| %>
  <div class="booking date">On the <%= booking.created_at.strftime("%d %b %Y") %></div>
  <div class="booking-description">
    <ul class="list-unstyled">
      <li>You booked: <%= booking.engine.name.capitalize %></li>
      <li>From: <%= booking.engine.category.name %>  Category</li>
      <li>At: <%= booking.engine.shop.name %> Shop</li>
      <li>For: <%= booking.engine.price %> €</li>
    </ul>
  </div>
  <div class="booking-img"> </div>
 <% end %>
</div>
