<h1 class="text-center">Ca roule!</h1>

<div class="container ">
  <div class="row">
    <% @engines.each do |engine| %>
      <div class="col-xs-12 col-sm-4">
        <%= link_to engine_path(engine) do %>
          <div class= "card-link">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path engine.category.photo.path, height: 300, width: 400, crop: :fill %>')">
              <div class="card-category"><%= engine.category.name %></div>
              <div class="card-description">
                <h2><%= engine.name %></h2>
                <p><%= engine.description %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
