<div class="engine-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @engine.category.photo.path, height: 300, width: 400, crop: :fill %>')">
</div>

<div class="container text-center">
  <div class="row">
    <div class="col-md-6">
      <div id="engine-title-category">
        <h1><%= @engine.name %></h1>
        </h3><%= @engine.category.name %></h3>
      </div>
      <div id="engine-description">
        <p> <%= @engine.description %> </p>
        <strong> <%= @engine.price %> €/per day </strong>
      </div>
      <div>
        <input class="form-control text-center" id="engine-quantity" type="text" placeholder="Quantity ?">
      </div>
      <div>
        <%= simple_form_for [@engine, @booking] do |f| %>
        <%= f.button :submit, "Book Now", class: "btn btn-success btn-lg margin-button"%>
        <% end %>
        <%= link_to "Back", engines_path, class: "btn btn-success btn-lg margin-button" %>
      </div>
    </div>
    <div class="col-md-6">
      <%= image_tag_map_for(@engine, { size: "650x550", pin_color: "0xF61067" }) %>
    </div>
  </div>
</div>

