<div class="container text-center">
  <h1><%= @engine.name %></h1>
  <p><%= @engine.category.name %></p>
  <%= link_to "Back", root_path, class: "btn btn-success" %>


  <%= simple_form_for [@engine, @booking] do |f| %>
    <%= f.submit %>
  <% end %>
</div>
