<div class="banner">
  <div class="container">
    <div class="banner-content">
      <h1> You gonna ride ! </h1>
      <p> An easy and sustainable way to explore cities </p>
      <div class="banner_form row">
        <div class="col-xs-8 col-xs-offset-2">




          <div class="form-homepage">
            <%= simple_form_for :search, url: engines_path, method: :get,
              html: { class: 'form-inline' } do |f| %>
              <%= f.input :address, label: false, placeholder: "Where", input_html: { class: 'form-control radius_input' } %>
              <%= f.input :datetime, label: false, placeholder: "When", input_html: { class: 'form-control radius_input' } %>

              <%= f.submit 'Get it', class: "btn-success btn-lg radius_button" %>
            <% end %>
          </div>
        </div>
      </div>
        <div class= "pictos_banner text-center padded features">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-lg-3">
                <%= image_tag "segway3.png", {class: "picto"}%>
                <h3> Mobility </h3>
                <p> Getting around easily </p>
              </div>
              <div class="col-xs-12 col-sm-6 col-lg-3">
                <%= image_tag "logo_green.png", {class: "picto"}%>
                <h3> Sustainability</h3>
                <p> Make a green choice </p>
              </div>
              <div class="col-xs-12 col-sm-6 col-lg-3">
                <%= image_tag "logo_city.png", {class: "picto"}%>
                <h3> Discovery </h3>
                <p> Explore on your own </p>
              </div>
               <div class="col-xs-12 col-sm-6 col-lg-3">
                <%= image_tag "calendar.png", {class: "picto"}%>
                <h3> Flexibility </h3>
                <p> Reserve until the last minute </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>


  <div class="contact text-center padded">
    <h3> Leave us your mail and get news ! </h3>
    <form class="form-inline">
      <label for="your-email"> Your email</label>
      <input type="email" placeholder="explorer@gmail.com" class="form-control">
      <input type="submit" value="Suscribe now !" class= "btn btn-success">
    </form>
  </div>


<div class="wrapper-grey">
  <div class= "text-center padded features">
    <div class="container">
      <div class="row">
        <div class="card style_popular " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dcsrdzgza/image/upload/v1495013902/esakte_yuredy.jpg');">
          <div class="text-popular">Popular</div>
            <div class="card-description">
              <h2> E-skateboard</h2>
              <p>Makes getting around easier than ever</p>
              <input type="submit" value="Discover now !" class= "btn btn-success">
            </div>
        </div>
         <div class="card style_popular " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dcsrdzgza/image/upload/v1495014242/hoverboard_schrqq.png');">
          <div class="text-popular">Popular</div>
            <div class="card-description">
              <h2> Hoverboard </h2>
              <p> Experience the future of personal mobility in the city </p>
              <input type="submit" value="Discover now !" class= "btn btn-success">
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
